In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('car_pre.csv')

In [3]:
x=df.drop(['New_Price','Price'],axis=1)

In [58]:
x.Mileage=x.Mileage.fillna(x.Mileage.median)

In [59]:
x.Engine=x.Engine.fillna(x.Engine.median)

In [60]:
x.Power=x.Power.fillna(x.Power.median)

In [61]:
x.Seats=x.Seats.fillna(x.Seats.median)

In [62]:
x.isnull().sum()

Unnamed: 0             0
Year                   0
Kilometers_Driven      0
Owner_Type             0
Mileage                0
Engine                 0
Power                  0
Seats                  0
Transmission_Manual    0
Fuel_Type_Diesel       0
Fuel_Type_Electric     0
Fuel_Type_LPG          0
Fuel_Type_Petrol       0
dtype: int64

In [63]:
x['Engine']=x['Engine'].str.replace('CC','').astype('float')

In [66]:
x['Power']=x['Power'].str[0:-3].str.replace('null','59.18').astype('float')

AttributeError: Can only use .str accessor with string values!

In [65]:
x['Mileage']=x['Mileage'].str[0:-5].astype('float')

In [67]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6019 non-null   int64
 1   Year                 6019 non-null   int64
 2   Kilometers_Driven    6019 non-null   int64
 3   Owner_Type           6019 non-null   int64
 4   Mileage              0 non-null      float64
 5   Engine               0 non-null      float64
 6   Power                6019 non-null   object
 7   Seats                6019 non-null   object
 8   Transmission_Manual  6019 non-null   uint8
 9   Fuel_Type_Diesel     6019 non-null   uint8
 10  Fuel_Type_Electric   6019 non-null   uint8
 11  Fuel_Type_LPG        6019 non-null   uint8
 12  Fuel_Type_Petrol     6019 non-null   uint8
dtypes: float64(2), int64(4), object(2), uint8(5)
memory usage: 405.7+ KB

In [13]:
x.Owner_Type.unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [14]:
x['Owner_Type']=x['Owner_Type'].map({'First' :1,'Second' :2,'Third' :3,'Fourth & Above' :4})

In [15]:
x=pd.get_dummies(x,columns=['Transmission','Fuel_Type'],drop_first=True)

In [68]:
x.head()

,Unnamed: 0,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol
0,0,2010,72000,1,NaN,NaN,58.16,5,1,0,0,0,0
1,1,2015,41000,1,NaN,NaN,126.2,5,1,1,0,0,0
2,2,2011,46000,1,NaN,NaN,88.7,5,1,0,0,0,1
3,3,2012,87000,1,NaN,NaN,88.76,7,1,1,0,0,0
4,4,2013,40670,2,NaN,NaN,140.8,5,0,1,0,0,0

In [17]:
x.drop(['Name','Location'],axis=1,inplace=True)

In [18]:
x.head()

,Unnamed: 0,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol
0,0,2010,72000,1,26.60,998.0,58.16,5,1,0,0,0,0
1,1,2015,41000,1,19.67,1582.0,126.20,5,1,1,0,0,0
2,2,2011,46000,1,18.20,1199.0,88.70,5,1,0,0,0,1
3,3,2012,87000,1,20.77,1248.0,88.76,7,1,1,0,0,0
4,4,2013,40670,2,15.20,1968.0,140.80,5,0,1,0,0,0

In [19]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6019 non-null   int64
 1   Year                 6019 non-null   int64
 2   Kilometers_Driven    6019 non-null   int64
 3   Owner_Type           6019 non-null   int64
 4   Mileage              6017 non-null   float64
 5   Engine               5983 non-null   float64
 6   Power                5983 non-null   float64
 7   Seats                6019 non-null   object
 8   Transmission_Manual  6019 non-null   uint8
 9   Fuel_Type_Diesel     6019 non-null   uint8
 10  Fuel_Type_Electric   6019 non-null   uint8
 11  Fuel_Type_LPG        6019 non-null   uint8
 12  Fuel_Type_Petrol     6019 non-null   uint8
dtypes: float64(3), int64(4), object(1), uint8(5)
memory usage: 405.7+ KB

In [24]:
x.describe()

,Unnamed: 0,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol
count,6019.000000,6019.000000,6.019000e+03,6019.000000,6017.000000,5983.000000,5983.000000,6019.000000,6019.000000,6019.000000,6019.000000,6019.000000
mean,3009.000000,2013.358199,5.873838e+04,1.202858,18.134961,1621.276450,112.286007,0.714238,0.532480,0.000332,0.001661,0.456222
std,1737.679967,3.269742,9.126884e+04,0.456356,4.582289,601.355233,53.869826,0.451814,0.498985,0.018227,0.040730,0.498121
min,0.000000,1998.000000,1.710000e+02,1.000000,0.000000,72.000000,34.200000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1504.500000,2011.000000,3.400000e+04,1.000000,15.170000,1198.000000,74.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3009.000000,2014.000000,5.300000e+04,1.000000,18.150000,1493.000000,92.700000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,4513.500000,2016.000000,7.300000e+04,1.000000,21.100000,1984.000000,138.100000,1.000000,1.000000,0.000000,0.000000,1.000000
max,6018.000000,2019.000000,6.500000e+06,4.000000,33.540000,5998.000000,560.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
upper_limit=(3.400000e+04)+(7.300000e+04-3.400000e+04)*7.300000e+04

In [28]:
upper_limit

2847034000.0

ValueError: method must be either 'pearson', 'spearman', 'kendall', or a callable, 'Year' was supplied

In [32]:
data=x.drop('Seats',axis=1)

In [33]:
data.head()

,Unnamed: 0,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol
0,0,2010,72000,1,26.60,998.0,58.16,1,0,0,0,0
1,1,2015,41000,1,19.67,1582.0,126.20,1,1,0,0,0
2,2,2011,46000,1,18.20,1199.0,88.70,1,0,0,0,1
3,3,2012,87000,1,20.77,1248.0,88.76,1,1,0,0,0
4,4,2013,40670,2,15.20,1968.0,140.80,0,1,0,0,0

In [35]:
from sklearn.model_selection import train_test_split as tts

In [36]:
data['Price']=df['Price']

In [37]:
data.head()

,Unnamed: 0,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Price
0,0,2010,72000,1,26.60,998.0,58.16,1,0,0,0,0,1.75
1,1,2015,41000,1,19.67,1582.0,126.20,1,1,0,0,0,12.50
2,2,2011,46000,1,18.20,1199.0,88.70,1,0,0,0,1,4.50
3,3,2012,87000,1,20.77,1248.0,88.76,1,1,0,0,0,6.00
4,4,2013,40670,2,15.20,1968.0,140.80,0,1,0,0,0,17.74

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6019 non-null   int64
 1   Year                 6019 non-null   int64
 2   Kilometers_Driven    6019 non-null   int64
 3   Owner_Type           6019 non-null   int64
 4   Mileage              6017 non-null   float64
 5   Engine               5983 non-null   float64
 6   Power                5983 non-null   float64
 7   Transmission_Manual  6019 non-null   uint8
 8   Fuel_Type_Diesel     6019 non-null   uint8
 9   Fuel_Type_Electric   6019 non-null   uint8
 10  Fuel_Type_LPG        6019 non-null   uint8
 11  Fuel_Type_Petrol     6019 non-null   uint8
 12  Price                6019 non-null   float64
dtypes: float64(4), int64(4), uint8(5)
memory usage: 405.7 KB

In [40]:
Y=data['Price']

In [41]:
X=data.drop('Price',axis=1)

In [42]:
X_train,X_test,Y_train,Y_test=tts(X,Y,test_size=0.3)

In [43]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((4213, 12), (1806, 12), (4213,), (1806,))

In [54]:
from sklearn import preprocessing
scale=preprocessing.StandardScaler()
X_train=scale.fit_transform(X_train)
X_test=scale.fit_transform(X_test)

In [55]:
from sklearn.linear_model import LinearRegression

In [56]:
lr=LinearRegression()

In [57]:
lr.fit(X_train,Y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [69]:
data.head()

,Unnamed: 0,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Price
0,0,2010,72000,1,26.60,998.0,58.16,1,0,0,0,0,1.75
1,1,2015,41000,1,19.67,1582.0,126.20,1,1,0,0,0,12.50
2,2,2011,46000,1,18.20,1199.0,88.70,1,0,0,0,1,4.50
3,3,2012,87000,1,20.77,1248.0,88.76,1,1,0,0,0,6.00
4,4,2013,40670,2,15.20,1968.0,140.80,0,1,0,0,0,17.74

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6019 non-null   int64
 1   Year                 6019 non-null   int64
 2   Kilometers_Driven    6019 non-null   int64
 3   Owner_Type           6019 non-null   int64
 4   Mileage              6017 non-null   float64
 5   Engine               5983 non-null   float64
 6   Power                5983 non-null   float64
 7   Transmission_Manual  6019 non-null   uint8
 8   Fuel_Type_Diesel     6019 non-null   uint8
 9   Fuel_Type_Electric   6019 non-null   uint8
 10  Fuel_Type_LPG        6019 non-null   uint8
 11  Fuel_Type_Petrol     6019 non-null   uint8
 12  Price                6019 non-null   float64
dtypes: float64(4), int64(4), uint8(5)
memory usage: 405.7 KB

In [71]:
data.isnull().sum()

Unnamed: 0              0
Year                    0
Kilometers_Driven       0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Transmission_Manual     0
Fuel_Type_Diesel        0
Fuel_Type_Electric      0
Fuel_Type_LPG           0
Fuel_Type_Petrol        0
Price                   0
dtype: int64

In [72]:
data.Mileage=data.Mileage.fillna(data.Mileage.median)

In [73]:
data.Engine=data.Engine.fillna(data.Engine.median)

In [74]:
data.Power=data.Power.fillna(data.Power.median)

In [75]:
data.isnull().sum()

Unnamed: 0             0
Year                   0
Kilometers_Driven      0
Owner_Type             0
Mileage                0
Engine                 0
Power                  0
Transmission_Manual    0
Fuel_Type_Diesel       0
Fuel_Type_Electric     0
Fuel_Type_LPG          0
Fuel_Type_Petrol       0
Price                  0
dtype: int64

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6019 non-null   int64
 1   Year                 6019 non-null   int64
 2   Kilometers_Driven    6019 non-null   int64
 3   Owner_Type           6019 non-null   int64
 4   Mileage              6019 non-null   object
 5   Engine               6019 non-null   object
 6   Power                6019 non-null   object
 7   Transmission_Manual  6019 non-null   uint8
 8   Fuel_Type_Diesel     6019 non-null   uint8
 9   Fuel_Type_Electric   6019 non-null   uint8
 10  Fuel_Type_LPG        6019 non-null   uint8
 11  Fuel_Type_Petrol     6019 non-null   uint8
 12  Price                6019 non-null   float64
dtypes: float64(1), int64(4), object(3), uint8(5)
memory usage: 405.7+ KB

In [77]:
dy=data['Price']
dx=data.drop('Price',axis=1)
dx_train,dx_test,dy_train,dy_test=tts(dx,dy,test_size=0.3)

In [78]:
dx_train.shape,dx_test.shape,dy_train.shape,dy_test.shape

((4213, 12), (1806, 12), (4213,), (1806,))

In [79]:
from sklearn.linear_model import LinearRegression

In [85]:
from sklearn import preprocessing
scale=preprocessing.StandardScaler()
dx_train=scale.fit_transform(dx_train)
dx_test=scale.fit_transform(dx_test)

TypeError: float() argument must be a string or a number, not 'method'

TypeError: float() argument must be a string or a number, not 'method'

In [86]:
dx

,Unnamed: 0,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol
0,0,2010,72000,1,26.6,998,58.16,1,0,0,0,0
1,1,2015,41000,1,19.67,1582,126.2,1,1,0,0,0
2,2,2011,46000,1,18.2,1199,88.7,1,0,0,0,1
3,3,2012,87000,1,20.77,1248,88.76,1,1,0,0,0
4,4,2013,40670,2,15.2,1968,140.8,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2014,27365,1,28.4,1248,74,1,1,0,0,0
6015,6015,2015,100000,1,24.4,1120,71,1,1,0,0,0
6016,6016,2012,55000,2,14,2498,112,1,1,0,0,0
6017,6017,2013,46000,1,18.9,998,67.1,1,0,0,0,1
6018,6018,2011,47000,1,25.44,936,57.6,1,1,0,0,0

In [87]:
dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6019 non-null   int64
 1   Year                 6019 non-null   int64
 2   Kilometers_Driven    6019 non-null   int64
 3   Owner_Type           6019 non-null   int64
 4   Mileage              6019 non-null   object
 5   Engine               6019 non-null   object
 6   Power                6019 non-null   object
 7   Transmission_Manual  6019 non-null   uint8
 8   Fuel_Type_Diesel     6019 non-null   uint8
 9   Fuel_Type_Electric   6019 non-null   uint8
 10  Fuel_Type_LPG        6019 non-null   uint8
 11  Fuel_Type_Petrol     6019 non-null   uint8
dtypes: int64(4), object(3), uint8(5)
memory usage: 358.7+ KB

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6019 non-null   int64
 1   Year                 6019 non-null   int64
 2   Kilometers_Driven    6019 non-null   int64
 3   Owner_Type           6019 non-null   int64
 4   Mileage              6019 non-null   object
 5   Engine               6019 non-null   object
 6   Power                6019 non-null   object
 7   Transmission_Manual  6019 non-null   uint8
 8   Fuel_Type_Diesel     6019 non-null   uint8
 9   Fuel_Type_Electric   6019 non-null   uint8
 10  Fuel_Type_LPG        6019 non-null   uint8
 11  Fuel_Type_Petrol     6019 non-null   uint8
 12  Price                6019 non-null   float64
dtypes: float64(1), int64(4), object(3), uint8(5)
memory usage: 405.7+ KB

TypeError: float() argument must be a string or a number, not 'method'